@model Entidades.Jugador
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Ver Jugador</h1>
    Nombre:
<input type="text" name="Nombre" value="@Model.Nombre" />
    Apellido:
<input type="text" name="Apellido" value="@Model.Apellido" />
    Club:
<input type="text" name="Club" value="@Model.Club" />
